#cards {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.card {
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: default;
  background-image: url('images/cell.png');
  background-size: cover;
  color: black;
}

.cell.free {
  background-image: url('images/free.png');
}

.cell.drawn {
  background-image: url('images/drawn.png');
  color: white;
}

.cell.bingo {
  background-image: url('images/bingo.png');
  color: white;
}

#drawnNumbers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.drawn {
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  background-image: url('images/drawn.png');
  color: white;
  background-size: cover;
}
