body {
  background: #e6c9f0;
  font-family: sans-serif;
  text-align: center;
}

#cards {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
.card {
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

